<div class="home__container">
    <app-card 
    gameCover="assets/re3-nemesis.jpg"
    gameName="Resident Evil 3 - Nemesis (1999)"
    gameRegion="PAL, USA, JPN"
    gamePrice="120,00"
    gameLabel="HORROR"
    ></app-card>

    <app-card 
    gameCover="assets/RE2.png"
    gameName="Resident Evil 2 (1998)"
    gameRegion="PAL, USA, JPN"
    gamePrice="180,00"
    gameLabel="HORROR"
    ></app-card>
    
    <app-card 
    gameCover="assets/Silent-Hill.png"
    gameName="Silent Hill (1999)"
    gameRegion="PAL, USA, JPN"
    gamePrice="100,00"
    gameLabel="HORROR"
    ></app-card>
</div>

<div class="home__container">
    <app-card 
    gameCover="assets/Racing-Lagoon.png"
    gameName="Racing Lagoon (1999)"
    gameRegion="JPN"
    gamePrice="250,00"
    gameLabel="RACING"
    ></app-card>

    <app-card 
    gameCover="assets/Crash3.png"
    gameName="Crash Bandicoot - Warped (1998)"
    gameRegion="PAL, USA, JPN"
    gamePrice="300,00"
    gameLabel="PLATFORMER 3D"
    ></app-card>
    
    <app-card 
    gameCover="assets/Clock-Tower.png"
    gameName="Clock Tower (1996)"
    gameRegion="PAL, USA, JPN"
    gamePrice="160,00"
    gameLabel="HORROR"
    ></app-card>
</div>

<div class="home__container">
    <app-card 
    gameCover="assets/FF7.png"
    gameName="Final Fantasy VII (1997)"
    gameRegion="PAL, USA, JPN"
    gamePrice="500,00"
    gameLabel="RPG"
    ></app-card>

    <app-card 
    gameCover="assets/MGS.png"
    gameName="Metal Gear Solid (1998)"
    gameRegion="PAL, USA, JPN"
    gamePrice="280,00"
    gameLabel="SHOOTER"
    ></app-card>
    
    <app-card 
    gameCover="assets/P2.png"
    gameName="Persona 2 - Eternal Punishment (2000)"
    gameRegion="USA, JPN"
    gamePrice="450,00"
    gameLabel="RPG"
    ></app-card>
</div>
